.main-footer {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 20rem;
  margin-bottom: 2rem;
}
.footer-one {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.footer-row-one {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.row-one {
  margin-bottom: 3rem;
}
.row-one div {
  align-self: flex-start;
}
.row-one div img {
  width: 100%;
  max-width: 150px;
}
.row-one p {
  font-size: 16px;
  text-transform: capitalize;
}
.row-two {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.row-two p {
  align-self: flex-start;
  font-size: 16px;
}
div.social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.social ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.social ul li {
  padding: 0.4rem;
}
.footer-row-two {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.col-one {
  display: flex;
  justify-content: flex-end;
}
.col-one div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  height: 20px;
  border: 1px solid violet;
  padding: 1rem 0;
}
.col-one div img {
  width: 10px;
  height: 10px;
}
.col-one div p {
  font-size: 10px;
}
.col-two {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem; */
}
.col-two div {
  margin: 0 1rem;
}
.col-two div p {
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}
.col-two div ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.col-two div ul li {
  padding: 0.1rem 0;
}
.col-two div ul li a {
  text-decoration: none;
  text-transform: capitalize;
}
.footer-two {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-two > p {
  align-self: flex-start;
}
