*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*...........................Header.................*/
@import url('./component/headers/header.css');
/*...........................Header.................*/
@import url('./component/headers/subheader.css');

/*..........................Footer..................*/
@import url('./component/footer/footer.css');
/*..........................Footer..................*/
@import url('./component/footer/subfooter.css');

/*..........................LogIn..................*/
@import url('./component/sigin/login.css');
/*..........................ContactSales..................*/
@import url('./component/contactsales/contactsales.css');
/*..........................ContactSales..................*/
@import url('./component/Homepage/homepage.css');
