.contact-container {
  width: 100%;
  /* height: 70vh; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: whitesmoke;
  margin: 3rem 0;
}
.contact-left {
  width: 600px;
  margin-top: 3rem;
  margin-bottom: 2rem;
  background-color: #fff;
  box-shadow: 0 0 4px 4px #cdcdcd;
}
.contact-left form {
  width: 400px;
  margin: 0 auto;
  margin-top: 2rem;
}
.contact-left form > div {
  display: flex;
  width: 100%;
}

.contact-input {
  height: 40px;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  outline: none;
  color: #010101;
  padding: 0.5rem;
}
.contact-select {
  width: 100%;
}
.contact-select-two {
  flex: 1;
}
.cnt-row div {
  display: flex;
  flex-direction: column;
}
.mg-right {
  margin-right: 1rem;
}
.cnt-row-two {
  flex: 1;
}
.cnt-row-one {
  flex: 1;
}
.cnt-row-single {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.cnt-row-single > input {
  width: 100%;
}
.log-btn-two {
  width: 100%;
  height: 40px;
  border-radius: 50px;
  border: none;
  background: #00008b;
  margin: 1.5rem 0;
  color: #fff;
  text-transform: capitalize;
}
textarea {
  outline: none;
}

/*...............right side................*/

.right-container {
  margin-top: 2rem;
}
.right-container h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
  line-height: 2px;
  letter-spacing: 1px;
  white-space: wrap;
}
.right-container > p {
  width: 500px;
  font-size: 0.8rem;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}
.list-of-offices {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.list-of-offices h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.list-of-offices > div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list-of-offices > div div {
  width: 160px;
}
.list-of-offices > div div h4 {
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 1rem;
}
.list-of-offices > div div p {
  margin-bottom: 1rem;
}
