.contact-container {
  width: 100%;
  /* height: 70vh; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: whitesmoke;
  margin: 3rem 0;
}
.contact-left {
  width: 600px;
  margin-top: 3rem;
  margin-bottom: 2rem;
  background-color: #fff;
  box-shadow: 0 0 4px 4px #cdcdcd;
}
.contact-left form {
  width: 400px;
  margin: 0 auto;
  margin-top: 2rem;
}
.contact-left form > div {
  display: flex;
  width: 100%;
}

.contact-input {
  height: 40px;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  outline: none;
  color: #010101;
  padding: 0.5rem;
}
.contact-select {
  width: 100%;
}
.contact-select-two {
  flex: 1;
}
.cnt-row div {
  display: flex;
  flex-direction: column;
}
.mg-right {
  margin-right: 1rem;
}
.cnt-row-two {
  flex: 1;
}
.cnt-row-one {
  flex: 1;
}
.cnt-row-single {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.cnt-row-single > input {
  width: 100%;
}
.log-btn-two {
  width: 100%;
  height: 40px;
  border-radius: 50px;
  border: none;
  background: #00008b;
  margin: 1.5rem 0;
  color: #fff;
  text-transform: capitalize;
}
textarea {
  outline: none;
}
